*{
  padding: 0;
  margin: 0;
}
body {
    background-image: url('backgroundimage/backgroundnetwork.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Helvetica", serif;
  }
  .header{
    position: relative;
    margin:auto;
    margin-top: 2%;
    margin-bottom: 2%;
    color:blanchedalmond;
  }
h1{
    text-align: center;
    color:blanchedalmond;
}
h2{
    text-align: center;
    color:blanchedalmond;
}
/*bandeau de description*/
.description{
    
    height: 15%;
    width: 100%;
    background-color: #00EDB4;
    opacity: 0.75;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
/*texte de description*/
.descriptiontext{
  font-size: 20px;
  text-align: center;
    color: black;
    display: flex;
}
/*photo*/
.photocircle>img{
  margin-right: 100%;
  height: 142px;
  width: 142px;
  border-radius: 50%;
  border-color: #00EDB4;
  margin-left: -100%;
  display: flex;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 75%;
  position: relative;
  margin: auto;
  
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 5px;
  border-radius: 2px;
  color: black;
  background-color: #00EDB4;
  opacity: 0.75;
}
.prev {
  left: 5px;
  border-radius: 2px;
  color:black;
  background-color: #00EDB4;
  opacity: 0.75;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: #00EDB4;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
i{
  width: 100%;
}
/*Bouton à droite de réseau social */
.socialnetworkright{
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  border-radius: 2px;
  display: flex;
  
}
/*Bouton à gauche de réseau social */
.socialnetworkleft{
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 2px;
  display: flex;
}
/*Conteneur parent des boutons réseaux sociaux*/
.socialparent{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
/*conteneur de la description du projet*/
.projettype{
  margin: auto;
  margin-top: 0%;
  margin-bottom: 3%;
  width: 50%;
  height: 40%;
  text-align: center;
  background-color: #00EDB4;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0.75;
}

.projetname{
  font-size: 20px;
}
.projetdate{
  font-size: 12px;
}
@media  (max-width: 700) {
  .description{
  width: 20%;
  }
  }
